body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.navbar {
  overflow: hidden;
  height: 60px;
  background-color: #000000;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.brand_name {
  color: white;
  font-size: 1.8em;
}


.text-white {
  color: white;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

.align-items-center{
  align-items: center !important;
}

.justifyEnd{
  justify-content: flex-end;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div {
  display: block;
}

.d-flex {
  display: flex !important;
}

.py-6 {
  padding-top: 6rem !important;
}

.py-lg-7 {
  padding-bottom: 8rem !important;
}

.bg-cover{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.dark {
 position: relative;
 overflow: hidden;
}

.dark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .6;
  background: #000000;
}

.overlay-content {
  position: relative;
  z-index: 20;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border-radius: .4rem;
  height: 200px;
}

.position-relative {
  position: relative !important;
}

input {
  font-size: 1.5rem !important;
  height: 60px !important;
  border-radius: 15px 0 0  15px !important;
}

.col-lg-9, .col-lg-3 {
  padding: 0px;
}
button {
  border-radius: 0 15px 15px  0!important;
 height: 60px;
 font-size: 2em !important;
}

.suggestions {
  width: 200px;
  height: 40px;
  background-color: white;
  color: #000000;
}


.text-shadow{
  text-shadow: 1px 1px 1px #000;
}

.loader {
  animation: loading 2s infinite;
  background-color: blue;

}


@keyframes loading {
  0% {
    width: 0%
  }
  100% {
    width: 100%
  }

}



@media only screen and (max-width: 600px) {
  input {
    font-size: 1.5rem !important;
    height: 60px !important;
    border-radius: 15px !important;
  }
  button {
    border-radius: 15px!important;
   height: 60px;
   font-size: 2em !important;
  }
  h1{
    font-size: 2em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }

}

@media only screen and (max-width: 988px) {
  input {
    font-size: 1.5rem !important;
    height: 60px !important;
    border-radius: 15px !important;
  }
  button {
    border-radius: 15px!important;
   height: 60px;
   font-size: 2em !important;
  }


}